{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Creer une Sortie</h1>

    {{form_start(lieuForm)}}
            <button class="btn btn-primary" type="submit">Ajouter</button>
    {{form_end(lieuForm)}}

    </div>

{% endblock %}
