{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block content %}
    <div class="row mt-5 mb-5 text-center">
        <h1>Campus</h1>
    </div>

    <p>
        <a style="color: black" href="{{ path('app_campus_index') }}"><i class="bi bi-arrow-left-circle"></i> Retour à la liste</a>

    </p>

    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
