{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block content %}
    <div class="row mt-5 mb-5 text-center">
        <h1>Campus</h1>
    </div>

<div class="fondTab">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('app_campus_new') }}">Create new</a>
{% endblock %}
