footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(248, 249, 250, 0.02);
    color: #5e5e5e;
    size: 5px;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto
}


