<form method="post" action="{{ path('app_utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
    <button title="supprimer" class="btn" style="color: #88247c"><i class="bi bi-trash"></i></button>
</form>
