{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Edit Utilisateur</h1>
    {{ form(formUser) }}
    <a href="{{ path('app_utilisateur_index') }}">back to list</a>

{#    {{ include('utilisateur/_delete_form.html.twig') }}#}
    <script>
        $(document).ready(function() {
            var formu = document.querySelector('[name="utilisateur"]');
            var mdp = document.getElementById('utilisateur_password');
            var confirm = document.getElementById('utilisateur_confirm');
            formu.addEventListener('change', function(){
                if (mdp.textLength > 0 || confirm.textLength > 0) {
                    mdp.required = true;
                    confirm.required = true;
                } else {
                    mdp.required = false;
                    confirm.required = false;
                }
            });

        });
    </script>
{% endblock %}
